@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$title-ff: 'Montserrat', sans-serif;
$body-ff : 'Open Sans', sans-serif;
$btn-ff  :  'Montserrat', sans-serif;

$body-color: #333333;
$primary-color: #ffcc00;
$secondary-color: #f2f;
$dark-gray: #666666;
$medium-gray: #898f8f;

$text-color : #4b5562;
$title-color: #2c4058; 
$light-gray : #cccccc;
$menu-color : rgb(233, 230, 230);
$white-color: #ffffff;
$post-color : black;
$post-time-color : #55b7ff;

$border-width: 1px;

$body-bg: $secondary-color;